{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block body_class %}d-flex align-items-center bg-white border-top-2 border-primary{% endblock %}
{% block head_title %}{% trans "Log in" %}{% endblock %}
{% block topbar_base %}{% endblock topbar_base %}

{% block body %}
<!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

                <!-- Image -->
                <div class="text-center">
                    <img src="{% static 'assets/img/SFA_logo.jpg' %}" alt="Log in" class="img-fluid">
                </div>

            </div>
            <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
            
            <!-- Heading -->
            <h1 class="display-4 text-center mb-3">
                Sign in
            </h1>
            
            <!-- Subheading -->
            {% comment %} <p class="text-muted text-center mb-5">
                Free access to our dashboard.
            </p> {% endcomment %}
            
            <!-- Form -->
            {% comment %} <form>

                <!-- Email address -->
                <div class="form-group">

                <!-- Label -->
                <label>Email Address</label>

                <!-- Input -->
                <input type="email" class="form-control" placeholder="name@address.com">

                </div>

                <!-- Password -->
                <div class="form-group">

                <div class="row">
                    <div class="col">
                        
                    <!-- Label -->
                    <label>Password</label>

                    </div>
                    <div class="col-auto">
                    
                    <!-- Help text -->
                    <a href="password-reset-illustration.html" class="form-text small text-muted">
                        Forgot password?
                    </a>

                    </div>
                </div> <!-- / .row -->

                <!-- Input group -->
                <div class="input-group input-group-merge">

                    <!-- Input -->
                    <input type="password" class="form-control form-control-appended" placeholder="Enter your password">

                    <!-- Icon -->
                    <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fe fe-eye"></i>
                    </span>
                    </div>

                </div>
                </div>

                <!-- Submit -->
                <button class="btn btn-lg btn-block btn-primary mb-3">
                Sign in
                </button>

                <!-- Link -->
                <div class="text-center">
                <small class="text-muted text-center">
                    Don't have an account yet? <a href="sign-up-illustration.html">Sign up</a>.
                </small>
                </div>
                
            </form> {% endcomment %}

            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                {{ form|bootstrap }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-actions">
                    <button class="btn btn-lg btn-block btn-primary mb-3">{% trans "Log in" %}</button>
                </div>

                <a href="{% url "account_password_reset" %}" class="form-text small text-muted">{% trans "Forgot your password?" %}</a>
{% comment %} 
                {% if ACCOUNT_OPEN_SIGNUP %}
                    <p class="login-signup">
                        {% trans "Don't have an account?" %}
                        <a href="{% urlnext 'account_signup' %}">{% trans "Sign up" %}</a>
                    </p>
                {% endif %} {% endcomment %}
            </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
