{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account_tags %}
{% load staticfiles %}

{% block body_class %}d-flex align-items-center bg-white border-top-2 border-primary{% endblock %}
{% block topbar_base %}{% endblock topbar_base %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

                <!-- Image -->
                <div class="text-center">
                    <img src="{% static 'assets/img/illustrations/coworking.svg' %}" alt="Password reset" class="img-fluid">
                </div>

            </div>
            <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
                
                <!-- Heading -->
                <h1 class="display-4 text-center mb-3">
                    {% trans "Password reset" %}
                </h1>
                
                <!-- Subheading -->
                <p class="text-muted text-center mb-5">
                    {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
                </p>
                
                <!-- Form -->
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-actions">
                        <button class="btn btn-lg btn-block btn-primary mb-3">{% trans "Reset my password" %}</button>
                    </div>
                    <!-- Link -->
                    <div class="text-center">
                        <small class="text-muted text-center">
                            {% trans "Remember your password?"%} <a href="{% url 'account_login' %}">{% trans "Log in" %}</a>.
                        </small>
                    </div>
                </form>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->


    
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
